<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>NLP for news articles</title>
</head>

<body>

    <header>
        <h1>NLP for news articles</h1>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="polarity"></div>
            <div id="agreement"></div>
            <div id="subjectivity"></div>
            <div id="confidence"></div>
            <div id="irony"></div>
        </section>
    </main>

    <footer>
        <div>By Islam Mansour © 2022</div>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>